<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "input", required: true %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, class: "textarea", cols: 3, rows: 5 %>
  </div>

  <div style="display: flex; justify-content: space-between;">

    <div style="flex: 1; margin-right: 10px;">
      <%= form.label :price, style: "display: block" %>
      <%= form.number_field :price, class: "input", step: 'any', required: true %>
    </div>

    <div>
      <%= form.label :available_for_sale, style: "display: block" %>
      <%= form.select :available_for_sale, [["Sim", true], ["Não", false]], { prompt: "Selecione uma opção" }, { class: "input", required: true } %>
    </div>

  </div>
  <br>
  <div>
    <%= link_to products_path, class: "button is-primary is-outlined" do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
    <%= button_tag(type: 'submit', class: "button is-primary") do %>
      <i class="fas fa-save"></i>
    <% end %>
  </div>
<% end %>
