<p style="color: green"><%= notice %></p>

<div>
<%= link_to "Novo produto", new_product_path, class: "button is-primary" %>
</div>
<br>
<br>
<div id="products" class="box">
  <div class="table-container">
    <h1>Lista de produtos</h1>
  </div>
  <table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Valor</th>
      <th>Disp Venda</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= number_to_currency(product.price) %></td>
        <td><%= product.available_for_sale ? 'Sim' : 'Não' %></td>
        <td><%= link_to "Visualizar produto", product, class: "button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

