<p style="color: green"><%= notice %></p>

<div id="products">
  <table class="table">
  <thead>
    <tr>
      <th><abbr title="Nome do produto">Nome</abbr></th>
      <th><abbr title="Descrição do produto">Descrição</abbr></th>
      <th><abbr title="Valor do produto">Valor</abbr></th>
      <th><abbr title="Disponível para venda?">Disp Venda</abbr></th>
      <th>Ações</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th><abbr title="Nome do produto">Nome</abbr></th>
      <th><abbr title="Descrição do produto">Descrição</abbr></th>
      <th><abbr title="Valor do produto">Valor</abbr></th>
      <th><abbr title="Disponível para venda?">Disp Venda</abbr></th>
      <th>Ações</th>
    </tr>
  </tfoot>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= number_to_currency(product.price) %></td>
        <td><%= product.available_for_sale ? 'Sim' : 'Não' %></td>
        <td><%= link_to "Visualizar produto", product, class: "button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<%= link_to "Novo produto", new_product_path, class: "button" %>
