<p style="color: green"><%= notice %></p>

<%= render @product %>

<div>
  <%= link_to "Editar produto", edit_product_path(@product), class: "button" %> |
  <%= link_to "Voltar", products_path, class: "button"  %>
  <%= button_to "Excluir este produto", @product, method: :delete, class: "button" %>
</div>

