<!DOCTYPE html>
<html>
  <head>
    <title>CrudRuby</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" crossorigin="anonymous">
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
    <br>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          Desenvolvido por <a href="https://github.com/amandaessilva" target="_blank", class="p has-text-white">Amanda Silva</a>.
        </p>
      </div>
    </footer>
  </body>

</html>